.CSVTable {
  width: 100%;
  border-right: #3EB1C6 solid 1px;
  border-collapse: collapse;
  display: table;
}

.CSVTable thead th {
  display: table-cell;
  background: #3EB1C6;
  color: #FFF;
  padding: 10px 15px;
  border-right: #FFF solid 1px;
  border-bottom: #FFF solid 1px;
}

.CSVTable thead th:last-child {
  border-right: #3EB1C6 solid 1px;
}

.CSVTable tbody th {
  display: table-cell;
  background: #3EB1C6;
  color: #FFF;
  padding: 10px 15px;
  border-bottom: #FFF solid 1px;
  vertical-align: top;
}

.CSVTable tbody tr:last-child th {
  border-bottom: #3EB1C6 solid 1px;
}

.CSVTable tbody td {
  display: table-cell;
  background: #FFF;
  padding: 10px 15px;
  border-left: #3EB1C6 solid 1px;
  border-bottom: #3EB1C6 solid 1px;
  vertical-align: top;
}

@media screen and (max-width: 640px) {
  .CSVTable thead {
    /* display: none; */
    display: table-cell;
  }
  .CSVTable tbody th {
    display: table-cell;
    display: block;
  }
  .CSVTable tbody td {
    display: table-cell;
    display: block;
  }
  /* .CSVTable tbody td::before {
    content: attr(label);
    float: left;
    clear: both;
    font-weight: bold;
  } */
  .CSVTable tbody td p {
    padding-left: 6em;
  }
}
